<a href="https://colab.research.google.com/github/BartekPodgorski/Python/blob/main/data-science-training/02_pandas/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd
pd.__version__

'1.1.3'

In [5]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [7]:
s = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='Sample')
s

a    3
b    2
c    4
d    6
Name: Sample, dtype: int64

In [8]:
s = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='Sample',dtype='float')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: Sample, dtype: float64

In [9]:
import numpy as np
s = pd.Series(data=[3,np.nan,4,6], index=['a','b','c','d'], name='Sample',dtype='float')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: Sample, dtype: float64

In [11]:
s = pd.Series(data = [True,False,True])
s

0     True
1    False
2     True
dtype: bool

In [21]:
s = pd.Series(data = np.arange(10,20),index = pd.date_range(start='20200201',periods=10))
s

2020-02-01    10
2020-02-02    11
2020-02-03    12
2020-02-04    13
2020-02-05    14
2020-02-06    15
2020-02-07    16
2020-02-08    17
2020-02-09    18
2020-02-10    19
Freq: D, dtype: int64

In [23]:
list(s.index)

[Timestamp('2020-02-01 00:00:00', freq='D'),
 Timestamp('2020-02-02 00:00:00', freq='D'),
 Timestamp('2020-02-03 00:00:00', freq='D'),
 Timestamp('2020-02-04 00:00:00', freq='D'),
 Timestamp('2020-02-05 00:00:00', freq='D'),
 Timestamp('2020-02-06 00:00:00', freq='D'),
 Timestamp('2020-02-07 00:00:00', freq='D'),
 Timestamp('2020-02-08 00:00:00', freq='D'),
 Timestamp('2020-02-09 00:00:00', freq='D'),
 Timestamp('2020-02-10 00:00:00', freq='D')]

In [18]:
s = pd.Series(data=['python','java','sql'], name='languages')
type(s)

pandas.core.series.Series

In [19]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [24]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [28]:
s.dtypes

dtype('int64')

In [39]:
price = pd.Series(data={'Apple': 200,'Cd Project':60,'Amazon':1900,'KGHM':np.nan})
price

Apple          200.0
Cd Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [31]:
price['Cd Project']

60

In [32]:
price[1]

60

In [41]:
price.count()

3

In [ ]:
price.value_counts(dropna=False)

In [40]:
price.sum()

2160.0

In [ ]:
price.describe().T

In [44]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [45]:
price.nsmallest(2)

Cd Project     60.0
Apple         200.0
dtype: float64

In [46]:
price.rank()

Apple         2.0
Cd Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [47]:
price.sort_values()

Cd Project      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [48]:
price_pln = price.apply(lambda x: x*3.8)

In [49]:
price_pln

Apple          760.0
Cd Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [50]:
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [54]:
df = pd.DataFrame(data=[12,12,32], index = ['first','second','third'],columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [55]:
df = pd.DataFrame(data={'Wig20':['PKN ORLEN','PKO BP'],
                        'mWig40':['Amica','Playway']})
df

       Wig20   mWig40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [71]:
df = pd.DataFrame(data=[[10,12,13],[23,12,10]],index=['first','second'],columns=['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [59]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [60]:
df.index

Index(['first', 'second'], dtype='object')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 144.0+ bytes

In [63]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

In [65]:
type(df['col_1'])

pandas.core.series.Series

In [66]:
df[['col_1']]

        col_1
first      10
second     23

In [67]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [68]:
df.columns = ['a','b','c']
df

         a   b   c
first   10  12  13
second  23  12  10

In [69]:
df.a

first     10
second    23
Name: a, dtype: int64

In [70]:
df['d'] = df.a + df.c
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [72]:
df = pd.DataFrame(data=[[10,12,13],[23,12,10]],index=['first','second'],columns=['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [74]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [75]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [77]:
df.loc['first','col_2']

12

In [78]:
df.loc[:,'col_2']

first     12
second    12
Name: col_2, dtype: int64