In [13]:
import pandas as pd 
import numpy as np
frame = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/mcdonalds.csv" , 
                    usecols=["Item","Category","Serving Size","Calories","TotalFat"])

In [14]:
color = ["green", "green" ,"blue" , "blue" , "red" , "red", "white"]

In [15]:
size = [ "S","S","S" ,"M" ,"M" ,"M" , "L"]

In [16]:
gender = ["M","W","M","W","M","W","U"]

In [17]:
clothes = pd.DataFrame({"color":color,"size":size,"gender":gender})

In [18]:
clothes.head()

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M

In [21]:
isColorBlue = clothes["color"] == "blue"

In [20]:
isColorGreen = clothes["color"] == "green"

In [22]:
isColorRed = clothes["color"] == "red"

In [23]:
isColorBlue

0    False
1    False
2     True
3     True
4    False
5    False
6    False
Name: color, dtype: bool

In [25]:
clothes[isColorBlue | isColorRed | isColorGreen]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W

In [27]:
clothes[clothes["color"].isin(["blue","green"])]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W

In [29]:
clothes.loc[6,"size"] = np.NaN

In [30]:
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6  white  NaN      U