In [2]:
import pandas as pd
import numpy as np
frame = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/mammals.csv")

In [3]:
frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [4]:
frame.columns

Index(['name', 'body', 'brain'], dtype='object')

In [5]:
frame.columns = ["name","bodyKg","brainKg"]

In [6]:
frame.head()

              name   bodyKg  brainKg
0       Arctic fox    3.385     44.5
1       Owl monkey    0.480     15.5
2  Mountain beaver    1.350      8.1
3              Cow  465.000    423.0
4        Grey wolf   36.330    119.5

In [7]:
newColumnsName = {"bodyKg":"body_kg","brainKg":"brain_kg"}

In [8]:
frame.rename(columns = newColumnsName,inplace = True)

In [9]:
frame.head()

              name  body_kg  brain_kg
0       Arctic fox    3.385      44.5
1       Owl monkey    0.480      15.5
2  Mountain beaver    1.350       8.1
3              Cow  465.000     423.0
4        Grey wolf   36.330     119.5

In [10]:
frame = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/mammals.csv", index_col="name")

In [13]:
frame.rename(index = {"Cow":"land cow"},inplace = True)

In [15]:
frame.head(10)

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
land cow         465.000  423.0
Grey wolf         36.330  119.5
Goat              27.660  115.0
Roe deer          14.830   98.2
Guinea pig         1.040    5.5
Verbet             4.190   58.0
Chinchilla         0.425    6.4

In [16]:
frameCopy = frame

In [17]:
frameCopy.loc["Arctic fox","body"] =  5

In [18]:
frameCopy.head()

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
land cow         465.00  423.0
Grey wolf         36.33  119.5

In [19]:
frame.head()

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
land cow         465.00  423.0
Grey wolf         36.33  119.5

In [20]:
frameCopy = frame.copy()

In [21]:
frameCopy.loc["Grey wolf","body"] = 40

In [22]:
frameCopy.head()

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
land cow         465.00  423.0
Grey wolf         40.00  119.5

In [23]:
frame.head()

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
land cow         465.00  423.0
Grey wolf         36.33  119.5