In [1]:
import pandas as pd
import numpy as np
frame = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/mammals.csv")

In [2]:
frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [3]:
frame.set_index("name",inplace = True)

In [5]:
frame.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Cow              465.000  423.0
Grey wolf         36.330  119.5

In [6]:
frame.reset_index(inplace=True)

In [7]:
frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [8]:
frame.set_index("name",inplace = True)

In [9]:
frame.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Cow              465.000  423.0
Grey wolf         36.330  119.5

In [10]:
frame.sort_index(inplace=True)

In [11]:
frame.head()

                               body   brain
name
African elephant           6654.000  5712.0
African giant pouched rat     1.000     6.6
Arctic fox                    3.385    44.5
Arctic ground squirrel        0.920     5.7
Asian elephant             2547.000  4603.0