In [1]:
import pandas as pd

In [2]:
fuel = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/fuel.csv",
                   usecols = ['Year','Make','Model','Range (FT1)','City Range (FT1)'])

In [3]:
fuel.set_index(['Year','Make','Model'],inplace = True)

In [4]:
fuel.sort_index(inplace = True)

In [8]:
fuel=fuel.swaplevel(i=0,j=1)
fuel.sort_index(inplace=True)
fuel.head(10)

                                           Range (FT1)  City Range (FT1)
Make             Year Model
AM General       1984 DJ Po Vehicle 2WD            0.0               0.0
                      DJ Po Vehicle 2WD            0.0               0.0
                      FJ8c Post Office             0.0               0.0
                      FJ8c Post Office             0.0               0.0
                 1985 Post Office DJ5 2WD          0.0               0.0
                      Post Office DJ8 2WD          0.0               0.0
ASC Incorporated 1987 GNX                          0.0               0.0
Acura            1986 Integra                      0.0               0.0
                      Integra                      0.0               0.0
                      Legend                       0.0               0.0