In [9]:
import pandas as pd
import numpy as np
fuel = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/fuel.csv",
                   usecols=['Year','Make','Model','Range (FT1)','City Range (FT1)'])

In [3]:
fuel.set_index(['Year','Make','Model'],inplace = True)

In [4]:
fuel.sort_index(inplace = True)

In [10]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              31684 non-null  int64
 1   Make              31684 non-null  object
 2   Model             31683 non-null  object
 3   Range (FT1)       31683 non-null  float64
 4   City Range (FT1)  31683 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 990.2+ KB

In [11]:
fuel.drop_duplicates(subset = ['Year','Make','Model'],inplace = True)

In [12]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13146 entries, 0 to 31683
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              13146 non-null  int64
 1   Make              13146 non-null  object
 2   Model             13145 non-null  object
 3   Range (FT1)       13145 non-null  float64
 4   City Range (FT1)  13145 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 513.5+ KB

In [13]:
fuel.dropna(how='any',inplace=True)

In [14]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13145 entries, 0 to 31681
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              13145 non-null  int64
 1   Make              13145 non-null  object
 2   Model             13145 non-null  object
 3   Range (FT1)       13145 non-null  float64
 4   City Range (FT1)  13145 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 513.5+ KB

In [15]:
fuel.set_index(['Year','Make','Model'],inplace=True)

In [16]:
fuel.head()

                                                     Range (FT1)  \
Year Make                        Model
1984 Alfa Romeo                  GT V6 2.5                   0.0
                                 Spider Veloce 2000          0.0
     AM General                  DJ Po Vehicle 2WD           0.0
                                 FJ8c Post Office            0.0
     American Motors Corporation Eagle 4WD                   0.0

                                                     City Range (FT1)
Year Make                        Model
1984 Alfa Romeo                  GT V6 2.5                        0.0
                                 Spider Veloce 2000               0.0
     AM General                  DJ Po Vehicle 2WD                0.0
                                 FJ8c Post Office                 0.0
     American Motors Corporation Eagle 4WD                        0.0

In [24]:
fuel.stack().to_frame()

                                                       0
Year Make       Model
1984 Alfa Romeo GT V6 2.5          Range (FT1)       0.0
                                   City Range (FT1)  0.0
                Spider Veloce 2000 Range (FT1)       0.0
                                   City Range (FT1)  0.0
     AM General DJ Po Vehicle 2WD  Range (FT1)       0.0
...                                                  ...
2012 Mitsubishi Lancer             City Range (FT1)  0.0
                Lancer AWD         Range (FT1)       0.0
                                   City Range (FT1)  0.0
                Lancer Evolution   Range (FT1)       0.0
                                   City Range (FT1)  0.0

[26290 rows x 1 columns]

In [25]:
fuel.stack().to_frame().stack().to_frame()

                                                         0
Year Make       Model
1984 Alfa Romeo GT V6 2.5          Range (FT1)      0  0.0
                                   City Range (FT1) 0  0.0
                Spider Veloce 2000 Range (FT1)      0  0.0
                                   City Range (FT1) 0  0.0
     AM General DJ Po Vehicle 2WD  Range (FT1)      0  0.0
...                                                    ...
2012 Mitsubishi Lancer             City Range (FT1) 0  0.0
                Lancer AWD         Range (FT1)      0  0.0
                                   City Range (FT1) 0  0.0
                Lancer Evolution   Range (FT1)      0  0.0
                                   City Range (FT1) 0  0.0

[26290 rows x 1 columns]