In [10]:
import numpy as np
import pandas as pd
sales = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/WA_Sales_Products_2012-14.csv")

In [11]:
sales.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [12]:
pt = sales.pivot_table(index ="Retailer country",columns = "Year",values = "Revenue",aggfunc="sum")

In [13]:
pt.reset_index(inplace = True)

In [15]:
pt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer country  21 non-null     object
 1   2012              21 non-null     float64
 2   2013              21 non-null     float64
 3   2014              21 non-null     float64
dtypes: float64(3), object(1)
memory usage: 652.0+ bytes

In [16]:
pt.fillna(0,inplace = True)

In [17]:
pt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer country  21 non-null     object
 1   2012              21 non-null     float64
 2   2013              21 non-null     float64
 3   2014              21 non-null     float64
dtypes: float64(3), object(1)
memory usage: 652.0+ bytes

In [20]:
pt.melt(id_vars="Retailer country",value_name="Revenue_name")

   Retailer country  Year  Revenue_name
0         Australia  2012  2.560704e+07
1           Austria  2012  3.456809e+07
2           Belgium  2012  3.039630e+07
3            Brazil  2012  3.423488e+07
4            Canada  2012  7.542839e+07
..              ...   ...           ...
58            Spain  2014  4.167992e+07
59           Sweden  2014  2.630800e+07
60      Switzerland  2014  3.298171e+07
61   United Kingdom  2014  6.488166e+07
62    United States  2014  1.913121e+08

[63 rows x 3 columns]