In [1]:
import numpy as np
import pandas as pd
products = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/WA_Sales_Products_2012-14.csv")
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [2]:
groups = products.groupby("Retailer country")

In [5]:
groups.mean()

                         Year       Revenue     Quantity  Gross margin
Retailer country
Australia         2012.859482  29822.638237   545.915689      0.451174
Austria           2012.875971  29354.380023   544.330917      0.450913
Belgium           2012.878976  26134.385420   484.911321      0.448410
Brazil            2012.878954  33170.824647   595.332117      0.448023
Canada            2012.839946  41682.874366   746.098936      0.451011
China             2012.850767  68133.410879  1258.758488      0.445670
Denmark           2012.843087  20313.202684   408.014843      0.442040
Finland           2012.867996  44652.972534   817.483133      0.447070
France            2012.816923  37986.440938   699.840457      0.451870
Germany           2012.879377  37200.975242   691.806003      0.450613
Italy             2012.869836  38484.512969   709.905426      0.450685
Japan             2012.876469  52559.339171   958.685576      0.454036
Korea             2012.866431  46653.172268   862.710503      0.450057
Mexico            2012.847594  36246.971397   662.449155      0.448840
Netherlands       2012.847821  35469.491698   640.010479      0.449182
Singapore         2012.847807  45385.365713   827.478652      0.450566
Spain             2012.887827  38449.189975   710.697217      0.452146
Sweden            2012.918974  27567.700944   479.861880      0.444921
Switzerland       2012.869851  24550.786135   444.111869      0.450140
United Kingdom    2012.854763  42968.068918   793.989024      0.449114
United States     2012.780540  86983.555269  1583.703422      0.449573

In [7]:
groups.sum()

                      Year       Revenue  Quantity  Gross margin
Retailer country
Australia          7377130  1.093000e+08   2000781   1641.822415
Austria            7773727  1.133666e+08   2102206   1723.839177
Belgium            7467781  9.695857e+07   1799021   1653.288385
Brazil             6618346  1.090657e+08   1957452   1466.380765
Canada            11922051  2.468877e+08   4419144   2662.767825
China              7350931  2.488232e+08   4596986   1621.792550
Denmark            4746284  4.789853e+07    962099   1037.909698
Finland            6861867  1.522220e+08   2786800   1516.908393
France            11632069  2.195236e+08   4044378   2590.572647
Germany           10863510  2.007737e+08   3733677   2413.480667
Italy              8087711  1.546308e+08   2852400   1795.530317
Japan             10787005  2.816655e+08   5137596   2410.021973
Korea              6841733  1.585741e+08   2932353   1518.042459
Mexico             7739399  1.393696e+08   2547117   1713.670229
Netherlands        8451948  1.489364e+08   2687404   1872.191714
Singapore          6930235  1.562618e+08   2849009   1540.935239
Spain              7159842  1.367638e+08   2527950   1599.240549
Sweden             5887788  8.063553e+07   1403596   1292.050688
Switzerland        8258805  1.007319e+08   1822191   1831.618053
United Kingdom    10269585  2.192231e+08   4050932   2276.557183
United States     15059624  6.508110e+08  11849269   3348.866446

In [8]:
groups.count().head()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,3665,3665,3665,3665,3665,3665,3665,3665,3665,3639
Austria,3862,3862,3862,3862,3862,3862,3862,3862,3862,3823
Belgium,3710,3710,3710,3710,3710,3710,3710,3710,3710,3687
Brazil,3288,3288,3288,3288,3288,3288,3288,3288,3288,3273
Canada,5923,5923,5923,5923,5923,5923,5923,5923,5923,5904

In [9]:
groups.min().head()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-0.389517
Austria,Sales visit,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,4,-0.086616
Belgium,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,5,-1.476136
Brazil,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,4,-2.085496
Canada,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-1.373907

In [10]:
groups.max()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,516135.14,20031,0.770476
Austria,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,321202.98,9662,0.770476
Belgium,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,310499.39,13200,0.770476
Brazil,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,352749.39,12157,0.770476
Canada,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,648467.60,27268,0.770476
China,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,1058301.46,34693,0.768046
Denmark,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,313721.10,7797,0.765564
Finland,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,770549.32,23150,0.769593
France,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,472225.66,26306,0.770476
Germany,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,566579.20,29381,0.770476
Italy,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,487457.30,24275,0.770476
Japan,Web,Sports Store,Personal Accessories,Woods,Zone,2014,Q4 2013,686566.27,35573,0.770476
Korea,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,580965.00,26152,0.768046
Mexico,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,464070.90,19214,0.770476
Netherlands,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,506648.03,19321,0.770476
Singapore,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,556619.80,27268,0.770476
Spain,Web,Sports Store,Personal Accessories,Woods,Zone,2014,Q4 2013,482286.38,22443,0.770476
Sweden,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,295462.20,14286,0.770476
Switzerland,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,267702.42,15298,0.770476
United Kingdom,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,605546.68,22976,0.770476
United States,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,1635687.96,67875,0.770476