In [1]:
import numpy as np
import pandas as pd
products = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/WA_Sales_Products_2012-14.csv")
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [2]:
groups = products.groupby(by = ["Retailer country","Year"])

In [3]:
groups["Revenue"].sum().head()

Retailer country  Year
Australia         2012    25607043.50
                  2013    47799737.14
                  2014    35893188.50
Austria           2012    34568089.63
                  2013    44996737.04
Name: Revenue, dtype: float64

In [5]:
groups.Revenue.sum().head()

Retailer country  Year
Australia         2012    25607043.50
                  2013    47799737.14
                  2014    35893188.50
Austria           2012    34568089.63
                  2013    44996737.04
Name: Revenue, dtype: float64

In [6]:
groups.agg({"Revenue":"sum"}).head()

                           Revenue
Retailer country Year
Australia        2012  25607043.50
                 2013  47799737.14
                 2014  35893188.50
Austria          2012  34568089.63
                 2013  44996737.04