In [1]:
import numpy as np
import pandas as pd
from datetime import timedelta
from datetime import datetime
import time

In [2]:
df = pd.read_csv('C:/Users/user/Desktop/Python_Main/kurs_pandas/marathon_results_2016.csv', index_col='Bib', 
                 usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])

df['40K'] = df['40K'].apply(pd.to_timedelta) 
df['Half'] = df['Half'].apply(pd.to_timedelta) 
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x)) 
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x)) 
df.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,01:06:45,02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,01:06:46,02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,01:06:44,02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,01:06:46,02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,01:06:46,02:08:11,0:05:11,7691.0,4006.0

In [8]:
df = df.head(10)
group_city = df.groupby("City")
group_city.size()

City
Addis Ababa    3
Ambo           1
Dallas         1
Eldoret        3
Kitale         1
Nijmegen       1
dtype: int64

In [6]:
for city in group_city:
    print(city[0])

Addis Ababa
Ambo
Dallas
Eldoret
Kitale
Nijmegen

In [10]:
for city in group_city:
    print(city[0],len(city[1]))

Addis Ababa 3
Ambo 1
Dallas 1
Eldoret 3
Kitale 1
Nijmegen 1

In [11]:
for city in group_city:
    print(city[0],min(city[1]))

Addis Ababa 40K
Ambo 40K
Dallas 40K
Eldoret 40K
Kitale 40K
Nijmegen 40K