In [2]:
import pandas as pd
import numpy as np

In [3]:
cat1 = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/northwind-mongo-master/categories_del_1.csv",
                  usecols=["CategoryID","CategoryName"])

In [4]:
cat2 = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/northwind-mongo-master/categories_del_2.csv",
                  usecols=["CategoryID","CategoryName"])

In [5]:
cat3 = pd.get_dummies(cat1)

In [6]:
cat3.head()

,CategoryID,CategoryName_Condiments,CategoryName_Confections,CategoryName_Dairy Products,CategoryName_Grains/Cereals,CategoryName_Meat/Poultry,CategoryName_Produce,CategoryName_Seafood
0,2,1,0,0,0,0,0,0
1,3,0,1,0,0,0,0,0
2,4,0,0,1,0,0,0,0
3,5,0,0,0,1,0,0,0
4,6,0,0,0,0,1,0,0

In [7]:
len(cat1)

7

In [8]:
len(cat2)

6

In [9]:
cat1.merge(cat2)

   CategoryID    CategoryName
0           2      Condiments
1           3     Confections
2           4  Dairy Products
3           7         Produce
4           8         Seafood

In [15]:
cat_merged = cat1.merge(cat2,on = "CategoryID",suffixes=["_1","_2"],how="outer",indicator=True).sort_values(by="CategoryID")

In [16]:
cat_merged[cat_merged["_merge"]=="left_only"]

   CategoryID  CategoryName_1 CategoryName_2     _merge
3           5  Grains/Cereals            NaN  left_only
4           6    Meat/Poultry            NaN  left_only

In [17]:
len(cat_merged)

8