In [1]:
import pandas as pd
import numpy as np

In [9]:
suppliers = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/northwind-mongo-master/suppliers _del_1.csv",
                       usecols=["SupplierID","CompanyName","City"])

In [11]:
products = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/northwind-mongo-master/products_del_1.csv",
                      usecols=["ProductID","ProductName","SupplierID"])

In [12]:
prod_and_sup = suppliers.merge(right=products)

In [13]:
prod_and_sup

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
65,26,Pasta Buttini s.r.l.,Salerno,56,Gnocchi di nonna Alice
66,26,Pasta Buttini s.r.l.,Salerno,57,Ravioli Angelo
67,28,Gai pâturage,Annecy,60,Camembert Pierrot
68,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
69,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [14]:
len(products)

75

In [15]:
len(suppliers)

27

In [16]:
len(prod_and_sup)

70

In [17]:
prod_and_sup_outer =suppliers.merge(right=products,how = "outer")

In [18]:
prod_and_sup_outer

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1.0,Chai
1,1,Exotic Liquids,London,2.0,Chang
2,1,Exotic Liquids,London,3.0,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4.0,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5.0,Chef Anton's Gumbo Mix
...,...,...,...,...,...
71,9,NaN,NaN,22.0,Gustaf's Knäckebröd
72,9,NaN,NaN,23.0,Tunnbröd
73,17,NaN,NaN,36.0,Inlagd Sill
74,17,NaN,NaN,37.0,Gravad lax
75,17,NaN,NaN,73.0,Röd Kaviar