In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math
import numpy as np

In [2]:
pok = pd.read_csv("C:/Users/user/Desktop/kurs_pandas/course-files/pokemon.csv", usecols=["Name"],squeeze=True)

In [3]:
pok

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [6]:
sorted(pok.head())

['Bulbasaur', 'Charmander', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur']

In [7]:
min(pok)

'Abomasnow'

In [8]:
max(pok)

'Zygarde50% Forme'

<bound method Series.min of 0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object>

In [11]:
salary1 = pd.read_csv("C:/Users/user/Desktop/kurs_pandas/course-files/StackOverflowDeveloperSurvey.csv", usecols=["Salary"],squeeze=True)

In [12]:
salary = salary1.dropna()

In [13]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [14]:
len(salary)

12891

In [15]:
min(salary)

0.0

In [16]:
max(salary)

197000.0

In [17]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [18]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [19]:
listSalarySorted = sorted(salary,reverse=True)

In [21]:
listSalarySorted[0:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [24]:
salary.name = "Salary of a person"

In [25]:
salary

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary of a person, Length: 12891, dtype: float64