In [1]:
import pandas as pd

In [2]:
programmers = pd.read_csv("C:/Users/user/Desktop/kurs_pandas/course-files/StackOverflowDeveloperSurvey2018.csv",
                         low_memory=False, usecols=["ConvertedSalary"] , squeeze=True)

In [3]:
programmers

0            NaN
1        70841.0
2            NaN
3            NaN
4        21426.0
          ...
98850        NaN
98851        NaN
98852        NaN
98853        NaN
98854        NaN
Name: ConvertedSalary, Length: 98855, dtype: float64

In [4]:
programmers.mean()

95780.86178776571

In [5]:
programmers.median()

55075.0

In [6]:
programmers.std()

202348.21562529122

In [7]:
programmers.max()

2000000.0

In [12]:
fortune500 = pd.read_csv("C:/Users/user/Desktop/kurs_pandas/course-files/Fortune_500_2017.csv",
                        usecols=["Title","Employees"], index_col="Title")

In [13]:
fortune500.head()

                    Employees
Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000

In [14]:
fortune500.idxmax()

Employees    Walmart
dtype: object