In [1]:
import pandas as pd
import numpy as np

In [6]:
fuel = pd.read_csv("C:/Users/user/Desktop/Python_Main/kurs_pandas/fuel.csv", low_memory=False,index_col="Vehicle ID",
                   usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)','Start Stop Technology'])

In [7]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [8]:
listOfCars = ['Renault', 'Toyota','Ford']

In [10]:
isInList = fuel["Make"].isin(listOfCars)

In [13]:
isInList.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Make, dtype: bool

In [14]:
isNoStartStopDefined = fuel["Start Stop Technology"].isnull()

In [15]:
isNoStartStopDefined.head()

Vehicle ID
26587    True
27705    True
26561    True
27681    True
27550    True
Name: Start Stop Technology, dtype: bool