In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
frame = pd.read_csv('C:/Users/user/Desktop/Python_Main/kurs_pandas/mammals.csv')

In [3]:
frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [5]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    62 non-null     object
 1   body    62 non-null     float64
 2   brain   62 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.6+ KB

In [6]:
frame.columns = ["name","bodyKg","brainKg"]

In [7]:
frame.head()

              name   bodyKg  brainKg
0       Arctic fox    3.385     44.5
1       Owl monkey    0.480     15.5
2  Mountain beaver    1.350      8.1
3              Cow  465.000    423.0
4        Grey wolf   36.330    119.5

In [8]:
newColumnNames = {"bodyKg":"body_kg","brainKg":"brain_body"}

In [14]:
# frame.columns = newColumnNames

In [13]:
frame.rename(columns = newColumnNames, inplace = True)

In [15]:
frame = pd.read_csv('C:/Users/user/Desktop/Python_Main/kurs_pandas/mammals.csv', index_col="name")

In [16]:
frame.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Cow              465.000  423.0
Grey wolf         36.330  119.5