In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math as math
import numpy as np

In [2]:
numbers = [1,2,3,11,12,13]

In [3]:
numbers

[1, 2, 3, 11, 12, 13]

In [5]:
numbersSeries = pd.Series(numbers)

In [6]:
numbersSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [7]:
numbersSeries.where(numbersSeries > 10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [8]:
numbersSeries.where(numbersSeries > 10, other=-1)

0    -1
1    -1
2    -1
3    11
4    12
5    13
dtype: int64

In [9]:
numbersSeries.where(numbersSeries > 10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [10]:
numbersSeries.where(numbersSeries > 10 , inplace=True)

In [11]:
numbersSeries

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [12]:
numbersSeries.dropna(inplace=True)

In [13]:
numbersSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [14]:
numbersSeries = pd.Series(numbers)

In [15]:
numbersSeries.filter(items = [0,2,4])

0     1
2     3
4    12
dtype: int64

In [16]:
wiek = ["6", "7-14", "15-17", "18-24", "25-39", "40-59", "60+"]

In [18]:
amount = [14,334,312,5823,9491,7486,4343]

In [21]:
trupSeries = pd.Series(amount,wiek)

In [22]:
trupSeries

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64

In [25]:
trupSeries.where(trupSeries>1000, inplace=True)

In [26]:
trupSeries.dropna(inplace=True)

In [27]:
trupSeries

18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [28]:
incident1000 = trupSeries.where(trupSeries>1000, inplace=True)

In [30]:
incident1000

In [32]:
incidents1000=trupSeries.where(trupSeries>1000).dropna()
incidents1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [34]:
trupSeries = pd.Series(amount,wiek)

In [35]:
incidents1000=trupSeries.where(trupSeries>1000).dropna()
incidents1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [36]:
trupSeries

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64

In [40]:
trupSeries.filter(items=["18-24", "25-39", "40-59"])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [39]:
trupSeries

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64